<div class="clientes-container">
  <h2 class="title">Todos os Pacientes</h2>

  <div class="content">
    <div class="left-panel">
      <mat-form-field appearance="outline" class="search-field">
        <button mat-icon-button matPrefix class="search-button">
          <img src="assets/imagens/search.svg" alt="Buscar" class="menu-icon" />
        </button>
        <input
          matInput
          placeholder="Buscar Clientes"
          [(ngModel)]="termoBusca"
          (input)="buscarComTermo(termoBusca)"
        />
      </mat-form-field>
      <div class="add-button-container">
        <button mat-raised-button color="primary" class="add-button" (click)="cadastrar()">
          Cadastrar Cliente
        </button>
      </div>
    </div>

    <div class="right-panel">
      <div class="list-cliente">
        <div class="cliente-item" *ngFor="let cliente of registrosFiltrados; let i = index">
          <span>{{ cliente.nome }}</span>
          <a class="ver-prontuario" [routerLink]="['/animais-cliente', cliente.id]">Ver Animais</a>
          <span>
            <button mat-icon-button color="primary" (click)="editar(cliente)">
              <img src="assets/imagens/edit.svg" alt="Editar" class="menu-icon" />
            </button>
          </span>
          <span>
            <button mat-icon-button color="warn" (click)="delete(cliente.id)">
              <img src="assets/imagens/delete.svg" alt="Excluir" class="menu-icon" />
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
