<div class="page-container">
  <header class="page-header">
    <h1 class="page-title">Todos os Clientes</h1>
  </header>

  <div class="content-card">
    <div class="toolbar">
      <div class="search-container">
        <img src="assets/imagens/search.svg" alt="Pesquisar" class="search-icon" />
        <input 
          type="text" 
          class="search-input" 
          placeholder="Pesquisar"
          [(ngModel)]="termoBusca"
          (input)="buscarComTermo(termoBusca)"
        />
      </div>
      <button class="add-button" (click)="cadastrar()">
        Cadastrar Cliente
      </button>
    </div>

    <table class="clients-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Pets</th>
          <th>Endereço</th>
          <th>Status Pagamento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of registrosFiltrados">
          <!-- Nome -->
          <td>{{ cliente.nomeUsuario }}</td>

          <!-- Telefone com link WhatsApp -->
          <td>
            <img src="assets/imagens/whatsapp.svg" alt="WhatsApp" class="whatsapp-icon">
            <a [href]="getWhatsappLink(cliente.telefone)" target="_blank">
              {{ cliente.telefone }}
            </a>
          </td>

          <!-- Pets -->
          <td>{{ getPetNames(cliente.id) }}</td>

          <!-- Endereço -->
            <td>
            {{ cliente.endereco ? formatAddress(cliente.endereco) : 'Endereço não disponível' }}
            </td>


          <!-- Status Pagamento -->
          <td>{{ getStatusPagamentos(cliente.id) }}</td>

          <!-- Ações -->
          <td class="actions-cell">
            <button class="action-button" [matMenuTriggerFor]="menu">
              <img src="assets/imagens/list_alt.svg" alt="Ações">
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editar(cliente)">
                <img src="assets/imagens/edit.svg" alt="Editar" class="menu-icon">
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="delete(cliente.id)">
                <img src="assets/imagens/delete.svg" alt="Excluir" class="menu-excluir">
                <span>Excluir</span>
              </button>
              <button mat-menu-item [routerLink]="['/animais-cliente', cliente.id]">
                <img src="assets/imagens/pet.svg" alt="Ver Animais" class="menu-icon">
                <span>Ver Animais</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-controls" *ngIf="totalPages > 1">
        <button (click)="irParaPagina(page - 1)" [disabled]="page === 0">Anterior</button>
        <span>Página {{ page + 1 }} de {{ totalPages }}</span>
        <button (click)="irParaPagina(page + 1)" [disabled]="page === totalPages - 1">Próxima</button>
    </div>
  </div>
</div>
