<div class="list-container">
    <h2>Lista de Clientes</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Status Pagamento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <span [ngClass]="{'status-pago': cliente.statusPagamento === 'PAGO', 'status-pendente': cliente.statusPagamento === 'PENDENTE'}">
                        {{ cliente.statusPagamento }}
                    </span>
                </td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <img src="assets/imagens/assignment.svg" alt="Ações" class="menu-icon">
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editarCliente(cliente.id)">Editar</button>
                        <button mat-menu-item (click)="visualizarAnimais(cliente.id)">Ver Animais</button>
                        <button mat-menu-item (click)="excluirCliente(cliente.id)">Excluir</button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>