<mat-toolbar color="primary" class="app-toolbar">
  <button class="hamburger hamburger--squeeze" [class.is-active]="menuOpen" (click)="toggleMenu()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <span class="app-title">
    <img src="../assets/imagens/logo1.png" alt="Logo" class="logo" />
    VetGo
  </span>

  <!-- <div class="user-info" *ngIf="nomeUsuario && papelUsuario">
    <span>{{ nomeUsuario }}</span>
    <span class="user-role">({{ papelUsuario }})</span>
    <a href="javascript:void(0)"
         (click)="logout()"
         class="btn btn-success">Logout</a>
  </div> -->
</mat-toolbar>

<div class="side-menu" [class.open]="menuOpen">
  <button mat-button [matMenuTriggerFor]="configMenu">
    Configurações
  </button>
  <mat-menu #configMenu="matMenu">
    <button mat-menu-item [routerLink]="'/usuario'">
      <img src="assets/imagens/person.svg" alt="Usuário" class="menu-icon" />
      Usuario
    </button>
    <!-- Add more menu items here -->
  </mat-menu>

    <button mat-button class="menu-item" [routerLink]="'/agendamento'">
    <img src="assets/imagens/medical_services.svg" alt="agendamento" class="menu-icon" />
    Agendamento
  </button>
  <button mat-button class="menu-item" [routerLink]="'/list-cliente'">
    <img src="assets/imagens/star.svg" alt="Especialidades" class="menu-icon" />
    Clientes
  </button>
    <button mat-button class="menu-item" [routerLink]="'/atendimento'">
    <img src="assets/imagens/assignment.svg" alt="Atendimento" class="menu-icon" />
    Formulario Cliente
  </button>
  <button mat-button class="menu-item" [routerLink]="'/agendamento'">
    <img src="assets/imagens/list_alt.svg" alt="Agendamento" class="menu-icon" />
    Calendario
  </button>
</div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>