<mat-toolbar color="primary" class="app-toolbar">
  <button class="hamburger hamburger--squeeze" [class.is-active]="menuOpen" (click)="toggleMenu()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <span class="app-title">
    <img src="assets/imagens/logo1.png" alt="Logo" class="logo" />
     VetGo
  </span>
</mat-toolbar>

<div class="side-menu" [class.open]="menuOpen">
    <div class="menu-links-principais">
        <button mat-button class="menu-item" [routerLink]="'/agendamento'">
            <img src="assets/imagens/medical_services.svg" alt="agendamento" class="menu-icon" />
            Agendamento
        </button>

        <button mat-button class="menu-item" [routerLink]="'/list-cliente'">
            <img src="assets/imagens/star.svg" alt="Clientes" class="menu-icon" />
            Clientes
        </button>

        <button mat-button class="menu-item" [routerLink]="'/form-cliente'">
            <img src="assets/imagens/assignment.svg" alt="Formulário Cliente" class="menu-icon" />
            Formulário Cliente
        </button>

        <button mat-button class="menu-item" [routerLink]="'/calendario'">
            <img src="assets/imagens/list_alt.svg" alt="Calendário" class="menu-icon" />
            Calendário
        </button>
    </div>

    <div class="menu-rodape">
        <button mat-button class="menu-item" [routerLink]="'/usuario'">
            <img src="assets/imagens/eng.png" alt="Configurações" class="menu-icon" />
            Configurações
        </button>
        <button mat-button class="menu-item" [routerLink]="'/login'">
            <img src="assets/imagens/lock.svg" alt="Sair" class="menu-icon" />
            Sair
        </button>
    </div>
</div>