.app-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background-color: #1962f5;
  background: linear-gradient(90deg, #568de5, #4a85e3);
  color: #ffffff;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 16px;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 0;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
  background-color: #fff;
}

.hamburger-inner::before {
  top: -10px;
  background-color: #fff;
}

.hamburger-inner::after {
  bottom: -10px;
  background-color: #fff;
}


.app-title {
  display: flex;
  align-items: center;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  height: 60px;
  width: auto;
  margin-right: 12px;
}


.side-menu {
  position: fixed;
  top: 64px;
  left: -300px;
  width: 280px;
  height: calc(100% - 64px);
  background: linear-gradient(180deg, #568de5, #437edd);
  /* Gradiente sutil */
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.2);
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;


  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.side-menu.open {
  left: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  padding: 1rem;
  border-radius: 8px;
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  filter: invert(1);
  vertical-align: middle;
}

.menu-rodape {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}