<div class="card" *ngFor="let paciente of pacientes">
    <div class="paciente-info">
        <h3>{{ paciente.nome }}</h3>
        <p>Espécie: {{ paciente.especie }}</p>
        <p>Sexo: {{ paciente.sexo }}</p>
        <p *ngIf="usuarioLogado?.papel === 'ROLE_ADMIN' || usuarioLogado?.papel === 'ROLE_PROFISSIONAL'">Situação: {{ paciente.situacao }}</p>
        <div class="actions">
            <button
                *ngIf="usuarioLogado?.papel === 'ROLE_ADMIN' || usuarioLogado?.papel === 'ROLE_PROFISSIONAL'"
                class="delete-button"
                (click)="excluirPaciente(paciente.id)"
            >
                <img src="assets/imagens/delete.svg" alt="Excluir">
            </button>
            <button
                class="edit-button"
                (click)="editarPaciente(paciente.id)"
            >
                <img src="assets/imagens/edit.svg" alt="Editar">
            </button>
        </div>
    </div>
</div>