<form (ngSubmit)="save()" #formCliente="ngForm" class="form-container">
  <h2>Formulário do Responsável</h2>

  <div class="form-group">
    <label>Responsável:</label>
    <input type="text" [(ngModel)]="registro.nome" name="nome">
  </div>

  <!-- Agrupamento em linha -->
  <div class="form-row">
    <div class="form-group">
      <label>Contato:</label>
      <input type="text" [(ngModel)]="registro.telefone" name="telefone">
    </div>

    <div class="form-group">
      <label>CPF:</label>
      <input type="text" [(ngModel)]="registro.cpf" name="cpf">
    </div>
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input type="email" [(ngModel)]="registro.email" name="email">
  </div>

  <!-- Outra linha -->
  <div class="form-row">
    <div class="form-group">
      <label>CEP:</label>
      <input type="text" [(ngModel)]="registro.cep" name="cep">
    </div>

    <div class="form-group">
      <label>Bairro:</label>
      <input type="text" [(ngModel)]="registro.bairro" name="bairro">
    </div>
  </div>

  <!-- Outra linha -->
  <div class="form-row">
    <div class="form-group">
      <label>UF:</label>
      <select [(ngModel)]="registro.uf" name="uf">
        <option *ngFor="let uf of ufs" [value]="uf.sigla">{{ uf.nome }}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Complemento:</label>
      <input type="text" [(ngModel)]="registro.complemento" name="complemento">
    </div>
  </div>

  <div class="form-buttons">
    <button type="submit" [disabled]="formCliente.invalid" class="btn-salvar" (click)="save()">Salvar</button>
    <button type="button" class="btn-pet" (click)="cadastrarpet()">Cadastrar Pet</button>
  </div>
</form>
